@import "assets/variable";

.pagination_container {
    text-align: center;
    margin: 30px;

    & .pagination {
        background-color: white;
        padding: 20px !important;
        border-radius: 20px;
        box-shadow: 0 14px 38px 6px rgb(123 123 123 / 13%);
    }

    & .pagination .page-item.disabled {
        color: #b5b5b5;
    }

    &.disabled {
        display: none;
    }

    & .page-item.page-number.active {
        color: white;

        & a.page-link {
            background-color: $mainBtnBack;
            border-radius: 9px
        }
    }
}

.alert, .alert-flash-container{
    left: -100%;
    top: 33px;
    position: absolute;
    color: white;
    z-index: 99999999;
    padding: 30px;
    border-radius: 20px;
    transition: left 300ms;

    &.alert-info {
        background-color: #00ddb6;
    }

    &.alert-danger {
        background-color: #ff5858;
    }

    & button.close {
        cursor: pointer;
        position: absolute;
        right: -12px;
        top: -12px;
        color: white;
        background-color: #ff5858;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        border: unset;
        font-weight: bold;
        font-size: 18px;
    }
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked + .sidebar {
    width: 70px;

    & li a {
        padding-left: 0;
    }

    & .sidebar-brand {
        width: 60px;
        overflow: hidden;
    }

    & .sidebar-brand, li {
        padding-left: 1rem;
        text-align: center;
    }

    & .sidebar-brand h2 span:last-child, li a span:last-child {
        display: none;
    }

    & button {
        width: 82%;
        padding: 16px;

        & a {
            padding: 0 !important;
            color: black !important;

            & span {
                padding: 0;

                &:last-child {
                    display: none;
                }
            }
        }
    }
}

#nav-toggle:checked {
    & ~ .container-fluid, .header-nav {
        margin-left: 70px;
    }
}

@media only screen and (max-width: 1200px) {
    .container-fluid {
        margin-left: 70px !important;
    }
    .header-nav {
        margin-left: 0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left: -100% !important;
        transition: left 300ms;
    }

    #nav-toggle:checked {
        & ~ .container-fluid, .header-nav {
            margin-left: 0 !important;
            transition: margin-left 100ms;
        }
    }
}

@media screen and (max-width: 490px) {
    .container-fluid {
        margin-top: 65px !important;
        width: 100%;
        margin-left: 0 !important;
    }

    .search-wrapper .search-input-contain {
        width: 100% !important;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        width: 345px !important;

        & li a {
            padding-left: 1rem;
        }

        & .sidebar-brand {
            width: 100%;
        }

        & .sidebar-brand, li {
            padding-left: 2rem;
            text-align: left;
        }

        & .sidebar-brand h2 span:last-child, li a span:last-child {
            display: inline;
        }
    }
}


@media screen and (max-width: 380px) {
    header {
        font-size: 1.2rem;
    }
    .container-fluid {
        margin-top: 87px !important;
    }
    #nav-toggle:checked + .sidebar {
        width: 100% !important;

        & li {
            padding-left: 1rem;
        }
    }
}
